.flex-row{
    background-color: rgb(178, 230, 212);
}
.heading{
    background-color: brown;
    color: darkblue;
    border: 2px solid;
    width: 100;
}
.container{
    text-align: center;
}
.table{
    border: 5px solid red;
    padding:20px;
    margin: 20px auto 0 auto;
}
.button{
    background-color: seagreen;
}